APP_PUBLIC_URL=https://palawi.fr/editing-portfolio
BASE_PATH=/editing-portfolio
MEDIA_ROOT=/opt/dockpanel/media/editing-portfolio
PUBLIC_FORMSPREE_FORM_ID=
PUBLIC_TURNSTILE_SITE_KEY=
PUBLIC_CONTACT_EMAIL=
